.container {
  width: 800px;
  margin: auto;
  font: Helvetica, sans-serif;
}
.container .page-title {
  color: skyblue;
}

.marker {
  color: red;
}

.robot-plan {
  background-color: skyblue;
  border-radius: 20px;
  padding-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid darkcyan;
  text-align: left;
  padding: 8px;
  width: 150px;
}

tr:nth-child(even) {
  background-color: darkcyan;
}

tr:nth-child(odd) {
  background-color: white;
}
