$font-stack: Helvetica, sans-serif;
$table-color: darkcyan;
$robot-color: skyblue;

.container {
  width: 800px;
  margin: auto;
  font: $font-stack;
  .page-title {
    color: $robot-color;
  }
}

.marker {
  color: red;
}

.robot-plan {
    background-color: $robot-color;
    border-radius: 20px;
    padding-left: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid $table-color;
    text-align: left;
    padding: 8px;
    width: 150px;
}

tr:nth-child(even) {
    background-color: $table-color;
}

tr:nth-child(odd) {
  background-color: white;
}

